* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}
.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
    border: 2px solid black;
    align-content: center;
    align-items: center;
    background-color: rgb(166, 237, 247);
}

header li {
    list-style: none;
    height: 80px;
    width: 80px;
    margin: 10px;
    border: 2px solid black;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.research {
    height: 60px;
    width: 500px;
    align-content: center;
}

.logo {
    display: flex;
    justify-content: center;  
}

.logo img {
    height:80px;
}

.menu {
    display:flex;
    justify-content:center;
    text-align: center;
}

.presentation {
    border: 2px solid black;
}

.grid {
    place-items: center;
    border: 2px solid black;
    background-color: rgb(166, 237, 247);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "img1 ta1"
        "ta2 img2"
        "img3 ta3";
}

.grid img {
    height: 200px;
    width: 200px;
}

.image_enseigne {
    grid-area: img1;
}

.article1 {
    grid-area: ta1;
}

.article2 {
    grid-area: ta2;
}

.article3 {
    grid-area: ta3;
}

.image_boutique_sfr {
    grid-area: img2;
}

.image_Patrick_Drahi {
    grid-area: img3;
}