*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body {
    min-height: 100vh;

}

.header ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:space-between;
    border: 2px solid black;
    align-content: center;
    align-items: center;
    background-color: rgb(166, 237, 247);
}

header li {
    list-style: none;
    height: 80px;
    width: 80px;
    margin: 10px;
    border: 2px solid black;
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.research {
    height: 60px;
    width: 500px;
    align-content: center;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height:80px;
}

.menu {
    display:flex;
    justify-content:center;
    text-align: center;
} 

